{% extends "base.html" %} {% block title %} Create New Item {% endblock title %}
{% block content %}
<div class="container">
    {% if error %}
        <p> {{ error }} </p>
    {% else %}
        <form
            class="d-flex flex-column gap-2 align-items-start"
            action="{% url 'create_item'%}"
            method="POST"
            enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="add-item-btn" class="btn btn-outline-success" type="submit">
            Add Item
            </button>
        </form>
    {% endif %}
</div>
{% endblock content %}
